.footer{
  width:100%;
  text-align: center;
  background-color: white;
  color: #1b1b1f;
  .footer-container{
    width: 80vw; 
    margin: 0 auto;
    min-height: 250px;
    @media screen and (max-width: 1020px) {
      width: 90vw;
      // height: 55vh;
    }
    .flex-1{
      display: flex;
      flex-direction: row;
      padding-top: 32px;
      padding-bottom: 32px; //because adding padding to only the top part didn't keep the title in the center, it shifted it downwards.
      height: 200px;
      align-items: center;
      @media screen and (max-width: 1020px) {
        display: flex;
        flex-direction: column;
        height: 60%;
        padding-bottom: 0;
      }
      .flex-2{
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1020px) {
          height: 30%
        }
        .quote{
          font-family:  Poppins,sans-serif;
          font-size: 1.25rem;
          line-height: 1.8rem;
          text-align: center;
          background-image: url("../img/backgrounds/cite.png");
          background-repeat: no-repeat;
          background-position: center;
        }

      }
      .flex-3 {
        width: 40%;
        // height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 2em 0;
        p {
          text-align: left;
          padding: 5px;
        }
        // grid-template-rows: 1fr 1fr 1fr;
        @media screen and (max-width: 1020px) {
          grid-template-columns: 1fr;
          p {
            text-align: center;
          }
        }
        
      }
    }
    .flex-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 12px 0;
      @media screen and (max-width: 1020px) {
        flex-direction: column;
        height: 40%;
      }
      .links{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.81rem;
        @media screen and (max-width: 1020px) {
          flex-direction: column;
          div {
            padding: 5px 0;
          }
        }
        .text{
          font-family: Poppins,sans-serif;
          font-size: 1.3vh;
          line-height: 2vh;  
          text-align: center;
          white-space:nowrap;
        }
        .linking:hover{
          color: #00c853;
        }
      }
      .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 27%;
        height: 100%;
        margin-left: 0;
        align-items: center;
        @media screen and (max-width: 1020px) {
          flex-direction: row;
          width: 50%;
          height: 40%;
          padding: 5px 0;
        }
        @media screen and (max-width: 799px) {
          width: 80%;
        }
        .design{
          opacity: 100%;
          height: 24px;
          &:hover {
            filter: brightness(0) saturate(100%) invert(56%) sepia(68%) saturate(2180%) hue-rotate(103deg) brightness(95%) contrast(101%);
          }
        }
      }
    }
  }
}

        
        
        
        

        
       
       
       
       
        
        
 