#supporters {
  height: fit-content;
  // margin: 2em 0;
  background-color: rgba(225, 225, 225, 0.05);
  background-image: url("../img/backgrounds/award-trophy.svg");
  background-size: 11%;
  background-position-y: center;
  background-position-x: 15%;
  background-repeat: no-repeat;
  @media screen and (max-width: 799px) {
    background: none;
    background-color: rgba(225, 225, 225, 0.05);
  }

  .my-container {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: 55.5vh;
    width: 44%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 1020px) {
      width: 90%;
      height: fit-content; 
      padding: 2rem 0;
    }
    @media screen and (max-width: 799px) {
      width: 100%;
    }
    .rec-div {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h2 {
        text-align: center;
        font-size: 2.62rem;
        line-height: 3.93rem;
        font-weight: 400;
        color: white;
        opacity: 0.85;
        margin-top: 32px;
      }
      .recognised-container {
        @media screen and (max-width: 1020px) {
          display: flex;
          flex-direction: column;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .item {
          width: 14.37rem;
          @media screen and (max-width: 1020px){
            padding: 2em 0;
          }
          img {
            width: 100%;
            opacity: 0.6;
          }
        }
      }
    }
    .sup-div {
      height: 50%;
      width: 100%;
      padding: 0 0 2em 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media screen and (max-width: 1020px) {
        padding: 0;
      }
      h2 {
        text-align: center;
        font-size: 2.62rem;
        line-height: 3.93rem;
        font-weight: 400;
        color: white;
        opacity: 0.85;
        margin-top: 32px;
      }
      .supporters-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .item {
          width: 6.37rem;
          @media screen and (max-width: 1020px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150px;
            padding: 2em 0;
          }
          img {
            width: 100%;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

