* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/backgrounds/background.webp");
  background-repeat: repeat;
  min-width: 400px;
  font-size: 16px;
}

@media (min-width: 800px) {
  #nav {
    width: 80vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    background: none;
  }
  #nav .logo-container {
    padding: 15px;
  }
  #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 40vw;
    margin-left: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #nav ul li {
    padding-left: 7px;
    padding-right: 7px;
  }
  #nav ul li a {
    text-decoration: none;
    padding: 8px;
    font-size: 0.9rem;
    line-height: 21px;
    font-weight: 500;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #nav ul li .nav-links {
    border-bottom: 3px solid transparent;
    opacity: 0.9;
  }
  #nav ul li .nav-links:hover {
    border-bottom-color: #00c853;
    color: #00c853;
  }
  #nav ul .course-container .courses-btn {
    border-bottom: 3px solid transparent;
    opacity: 0.9;
  }
  #nav ul .course-container .courses-btn span {
    padding-right: 8px;
  }
  #nav ul .course-container .courses-btn svg {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #nav ul .course-container .courses-btn svg path {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    fill: white;
  }
  #nav ul .course-container .courses-btn:not(.no-hover):hover {
    border-bottom-color: #00c853;
    color: #00c853;
  }
  #nav ul .course-container .courses-btn:not(.no-hover):hover svg path {
    fill: #00c853;
  }
  #nav ul .course-container ul {
    position: absolute;
    width: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
  #nav ul .course-container ul li {
    padding: 0;
  }
  #nav ul .course-container ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 0.875rem;
    color: #1b1b1f;
    padding: 7px 8px;
    border-left: 3px solid transparent;
  }
  #nav ul .course-container ul li a:hover {
    color: #00c853;
    background: #f1f1f1;
    border-left-color: #00c853;
  }
  #nav ul .course-container.show .courses-btn {
    background-color: #00c853;
  }
  #nav ul .course-container.show .courses-btn svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #nav ul .course-container.show ul {
    visibility: visible;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}

@media screen and (min-width: 800px) and (max-width: 1020px) {
  #nav {
    width: 90vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  #nav ul {
    width: 50vw;
  }
}

@media (max-width: 799px) {
  #nav {
    width: 100%;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
  }
  #nav .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #nav .logo-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #nav ul {
    list-style: none;
    background-color: white;
    z-index: 97;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
  }
  #nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #1b1b1f;
    padding: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 3px solid transparent;
  }
  #nav ul li a:hover {
    color: #00c853;
    border-left-color: #00c853;
    background-color: #f1f1f1;
  }
  #nav ul .course-container .courses-btn svg {
    padding: 0.5rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  #nav ul .course-container .courses-btn svg path {
    fill: #1b1b1f;
  }
  #nav ul .course-container .courses-btn:hover svg path {
    fill: #00c853;
  }
  #nav ul .course-container ul {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #nav ul .course-container ul li a {
    padding: 14px 15px 14px 30px;
    font-size: 0.9rem;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav ul .course-container.show ul {
    display: block;
  }
  #nav ul .course-container.show ul li a {
    height: auto;
  }
  #nav ul .course-container.show .courses-btn {
    background: #00c853;
  }
  #nav ul .course-container.show .courses-btn span {
    color: white;
  }
  #nav ul .course-container.show .courses-btn svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  #nav ul .course-container.show .courses-btn svg path {
    fill: white;
  }
  #nav ul.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #nav .logo-container .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    margin-left: auto;
    opacity: 0.9;
  }
  #nav .logo-container .burger:after, #nav .logo-container .burger:before,
  #nav .logo-container .burger div {
    background-color: white;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #nav .logo-container .burger:after,
  #nav .logo-container .burger div {
    margin-top: 6px;
  }
  #nav .logo-container .burger.show:before {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
  #nav .logo-container .burger.show:after {
    -webkit-transform: translateY(-9px) rotate(-135deg);
            transform: translateY(-9px) rotate(-135deg);
  }
  #nav .logo-container .burger.show div {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.section:nth-child(2) {
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/backgrounds/ellipse-1.svg"), url("../img/backgrounds/ellipse-2.svg");
  background-repeat: no-repeat;
  background-size: 35%, 7%;
  background-position-y: center, top;
  background-position-x: 80%, 40%;
}

@media screen and (max-width: 799px) {
  .section:nth-child(2) {
    background: none;
  }
}

.section:nth-child(2) .page {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(2) .page {
    width: 90%;
  }
}

@media screen and (max-width: 799px) {
  .section:nth-child(2) .page {
    width: 100%;
  }
}

.section:nth-child(2) .page .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .section:nth-child(2) .page .image-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section:nth-child(2) .page .image-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 467px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(2) .page .text-container {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(2) .page .text-container h1 {
  width: 100%;
  height: auto;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 53px;
  padding-bottom: 32px;
  color: white;
  opacity: 0.95;
}

.section:nth-child(2) .page .text-container h1 span {
  width: 100%;
  height: auto;
  color: #00c853;
  opacity: 0.95;
}

.section:nth-child(2) .page .text-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
  padding-bottom: 32px;
}

.section:nth-child(2) .page .button-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1624px) and (min-width: 1000px) {
  .section:nth-child(2) .page .button-container .button:nth-child(3) {
    margin: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1124px) and (min-width: 1021px) {
  .section:nth-child(2) .page .button-container .button:nth-child(3) {
    margin: 0px 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 999px) and (min-width: 889px) {
  .section:nth-child(2) .page .button-container .button:nth-child(3) {
    margin: 0px 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 649px) {
  .section:nth-child(2) .page .button-container .button:nth-child(3) {
    margin: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .section:nth-child(2) .page .button-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section:nth-child(2) .page .button-container .button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  min-width: 200px;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border-radius: 1.25rem;
  overflow: hidden;
  background-clip: padding-box;
}

.section:nth-child(2) .page .button-container .button:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.section:nth-child(2) .page .button-container .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 500;
}

.section:nth-child(2) .page .button-container .button a .layer-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #fff;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  background-color: #00c853;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(2) .page .button-container .button a .layer-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #1b1b1f;
  border-radius: 1.25rem;
  font-size: 0.37rem;
  background-color: #f4fff9;
  background-clip: padding-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(2) .page .button-container .button:hover .layer-1 {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(2) .page .button-container .button:hover .layer-2 {
  font-size: 0.9rem;
  opacity: 1;
}

.section:nth-child(3) {
  font-family: "Poppins";
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.05);
  background-image: url("../img/backgrounds/triangle-big.svg"), url("../img/backgrounds/triangle-small.svg");
  background-repeat: no-repeat;
  background-position-y: center, 80%;
  background-position-x: 20%, 70%;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 750px;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(3) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: none;
    background: rgba(255, 255, 255, 0.05);
  }
  .section:nth-child(3) .container-2nd {
    width: 90%;
  }
}

.section:nth-child(3) .container-2nd {
  width: 80%;
  margin: 0 auto;
}

.section:nth-child(3) .container-2nd .heading-2nd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.section:nth-child(3) .container-2nd .heading-2nd h1 {
  font-size: 2.8rem;
  line-height: 4.3rem;
  font-weight: 500;
  text-align: center;
  opacity: 0.95;
  padding-top: 0px;
}

.section:nth-child(3) .container-2nd .icon-row {
  padding: 5% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section:nth-child(3) .container-2nd .icon-row .icon-box {
  padding: 0% 5%;
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  text-align: center;
  min-width: 260px;
  max-width: 415px;
}

.section:nth-child(3) .container-2nd .icon-row .icon-box img {
  height: 140px;
  opacity: 0.9;
}

.section:nth-child(3) .container-2nd .icon-row .icon-box h5 {
  color: white;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 200;
  opacity: 0.95;
}

.section:nth-child(3) .container-2nd .icon-row .icon-box p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #ffffff;
  opacity: 0.6;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(3) .container-2nd .icon-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section:nth-child(3) .container-2nd .icon-row .icon-box {
    padding: 10% 0;
  }
}

.section:nth-child(4) {
  padding-top: 80px;
}

.section:nth-child(4) .section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 65vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/backgrounds/ellipse-1.svg"), url("../img/backgrounds/ellipse-2.svg");
  background-repeat: no-repeat;
  background-position-y: center, bottom;
  background-size: 30%, 7%;
  background-position-x: 70%, 90%;
}

@media screen and (max-width: 799px) {
  .section:nth-child(4) .section-3 {
    background: none;
  }
}

.section:nth-child(4) .section-3 .page {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(4) .section-3 .page {
    width: 90%;
  }
}

@media screen and (max-width: 799px) {
  .section:nth-child(4) .section-3 .page {
    width: 100%;
  }
}

.section:nth-child(4) .section-3 .page .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .section:nth-child(4) .section-3 .page .image-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section:nth-child(4) .section-3 .page .image-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 791px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(4) .section-3 .page .text-container {
  padding: 15px 0% 15px 35%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(4) .section-3 .page .text-container {
    padding: 15px;
  }
}

.section:nth-child(4) .section-3 .page .text-container h1 {
  width: 100%;
  height: auto;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 78px;
  color: white;
  opacity: 0.95;
}

.section:nth-child(4) .section-3 .page .text-container h1 span {
  width: 100%;
  height: auto;
  color: #00c853;
  opacity: 0.95;
}

.section:nth-child(4) .section-3 .page .text-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
  padding-bottom: 32px;
}

.section:nth-child(4) .section-3 .page .button-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section:nth-child(4) .section-3 .page .button-container .button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  min-width: 200px;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border-radius: 1.25rem;
  overflow: hidden;
  background-clip: padding-box;
}

.section:nth-child(4) .section-3 .page .button-container .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 500;
}

.section:nth-child(4) .section-3 .page .button-container .button a .layer-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #fff;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  background-color: #00c853;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(4) .section-3 .page .button-container .button a .layer-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #1b1b1f;
  border-radius: 1.25rem;
  font-size: 0.37rem;
  background-color: #f4fff9;
  background-clip: padding-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(4) .section-3 .page .button-container .button:hover .layer-1 {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(4) .section-3 .page .button-container .button:hover .layer-2 {
  font-size: 0.9rem;
  opacity: 1;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(4) .section-3 {
    padding: 15px;
  }
}

.section:nth-child(4) .carousel-part {
  min-height: 65vh;
  padding: 15px;
}

@media screen and (max-width: 799px) {
  .section:nth-child(4) .carousel-part {
    height: auto;
  }
}

.section:nth-child(4) .carousel-part .carousel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.section:nth-child(4) .carousel-part .carousel-heading h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 200;
  text-align: center;
}

.section:nth-child(4) .carousel-part .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section:nth-child(4) .carousel-part .carousel-container .left-btn, .section:nth-child(4) .carousel-part .carousel-container .right-btn {
  width: auto;
  margin: 15px;
}

.section:nth-child(4) .carousel-part .carousel-container .left-btn img, .section:nth-child(4) .carousel-part .carousel-container .right-btn img {
  height: 2.6vw;
  min-height: 1rem;
  padding: 15px;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel {
  height: 330px;
  -webkit-perspective: 37.5rem;
          perspective: 37.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item {
  width: 15.31rem;
  height: auto;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 0.31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0.75rem 0.75rem rgba(0, 0, 0, 0.16) 0.25rem;
          box-shadow: 0.75rem 0.75rem rgba(0, 0, 0, 0.16) 0.25rem;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .course-img {
  border-radius: 0.31rem 0.31rem 0 0;
  background-clip: padding-box;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .course-title {
  color: #1b1b1f;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.69rem;
  padding-left: 0.56rem;
  padding-right: 0.56rem;
  padding-top: 0.62rem;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .course-author {
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.31rem;
  padding-left: 0.56rem;
  padding-right: 0.56rem;
  padding-top: 0.37rem;
  opacity: 0.8;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .course-price {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.69rem;
  padding-left: 0.56rem;
  padding-right: 0.56rem;
  padding-top: 0.37rem;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .course-price del {
  opacity: 0.7;
  margin-left: 1.9rem;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .dive-in-btn {
  margin: 0.62rem;
  width: 4.7rem;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: none;
  border-radius: 0.31rem;
  border: none;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .dive-in-btn a {
  text-decoration: none;
  color: #00C853;
  line-height: 1.56rem;
  padding: 0.62rem 0.25rem;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .dive-in-btn:hover {
  background-color: #00C853;
}

.section:nth-child(4) .carousel-part .carousel-container .carousel .carousel-item .dive-in-btn:hover a {
  text-decoration: none;
  color: #fff;
  line-height: 1.56rem;
  padding: 0.62rem 0.25rem;
}

@media screen and (max-width: 768px) {
  .section:nth-child(4) .carousel-part .carousel-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section:nth-child(4) .carousel-part .carousel-container {
    width: 100%;
  }
  .section:nth-child(4) .carousel-part .carousel-container .left-btn, .section:nth-child(4) .carousel-part .carousel-container .right-btn {
    display: none;
  }
  .section:nth-child(4) .carousel-part .carousel-container .carousel {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.section:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/backgrounds/ellipse-1-dark.svg"), url("../img/backgrounds/ellipse-2-dark.svg");
  background-repeat: no-repeat;
  background-size: 35%, 7%;
  background-position-y: center, 93%;
  background-position-x: 10%, 45%;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 799px) {
  .section:nth-child(5) {
    background: none;
    background: rgba(255, 255, 255, 0.05);
  }
}

.section:nth-child(5) .page {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(5) .page {
    width: 90%;
  }
}

@media screen and (max-width: 799px) {
  .section:nth-child(5) .page {
    width: 100%;
  }
}

.section:nth-child(5) .page .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .section:nth-child(5) .page .image-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section:nth-child(5) .page .image-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 710px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(5) .page .text-container {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(5) .page .text-container h1 {
  width: 100%;
  height: auto;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 53px;
  padding-bottom: 32px;
  color: white;
  opacity: 0.95;
}

.section:nth-child(5) .page .text-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
  padding-bottom: 32px;
}

.section:nth-child(5) .page .button-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section:nth-child(5) .page .button-container .button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  min-width: 200px;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border-radius: 1.25rem;
  overflow: hidden;
  background-clip: padding-box;
}

.section:nth-child(5) .page .button-container .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 500;
}

.section:nth-child(5) .page .button-container .button a .layer-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #fff;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  background-color: #00c853;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(5) .page .button-container .button a .layer-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #1b1b1f;
  border-radius: 1.25rem;
  font-size: 0.37rem;
  background-color: #f4fff9;
  background-clip: padding-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(5) .page .button-container .button:hover .layer-1 {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(5) .page .button-container .button:hover .layer-2 {
  font-size: 0.9rem;
  opacity: 1;
}

.section:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/backgrounds/ellipse-1.svg"), url("../img/backgrounds/ellipse-2.svg");
  background-repeat: no-repeat;
  background-size: 35%, 7%;
  background-position-y: center, 5%;
  background-position-x: 65%, 85%;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 799px) {
  .section:nth-child(6) {
    background: none;
  }
}

.section:nth-child(6) .page {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .section:nth-child(6) .page {
    width: 90%;
  }
}

@media screen and (max-width: 799px) {
  .section:nth-child(6) .page {
    width: 100%;
  }
}

.section:nth-child(6) .page .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .section:nth-child(6) .page .image-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section:nth-child(6) .page .image-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 764px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(6) .page .text-container {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section:nth-child(6) .page .text-container h1 {
  width: 100%;
  height: auto;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 53px;
  padding-bottom: 32px;
  color: white;
  opacity: 0.95;
}

.section:nth-child(6) .page .text-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
  padding-bottom: 32px;
}

.section:nth-child(6) .page .button-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section:nth-child(6) .page .button-container .button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  min-width: 200px;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border-radius: 1.25rem;
  overflow: hidden;
  background-clip: padding-box;
}

.section:nth-child(6) .page .button-container .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 500;
}

.section:nth-child(6) .page .button-container .button a .layer-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #fff;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  background-color: #00c853;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(6) .page .button-container .button a .layer-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: calc(0.9rem + 22px);
  color: #1b1b1f;
  border-radius: 1.25rem;
  font-size: 0.37rem;
  background-color: #f4fff9;
  background-clip: padding-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(6) .page .button-container .button:hover .layer-1 {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section:nth-child(6) .page .button-container .button:hover .layer-2 {
  font-size: 0.9rem;
  opacity: 1;
}

#supporters {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(225, 225, 225, 0.05);
  background-image: url("../img/backgrounds/award-trophy.svg");
  background-size: 11%;
  background-position-y: center;
  background-position-x: 15%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 799px) {
  #supporters {
    background: none;
    background-color: rgba(225, 225, 225, 0.05);
  }
}

#supporters .my-container {
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 55.5vh;
  width: 44%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  #supporters .my-container {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 799px) {
  #supporters .my-container {
    width: 100%;
  }
}

#supporters .my-container .rec-div {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#supporters .my-container .rec-div h2 {
  text-align: center;
  font-size: 2.62rem;
  line-height: 3.93rem;
  font-weight: 400;
  color: white;
  opacity: 0.85;
  margin-top: 32px;
}

#supporters .my-container .rec-div .recognised-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  #supporters .my-container .rec-div .recognised-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#supporters .my-container .rec-div .recognised-container .item {
  width: 14.37rem;
}

@media screen and (max-width: 1020px) {
  #supporters .my-container .rec-div .recognised-container .item {
    padding: 2em 0;
  }
}

#supporters .my-container .rec-div .recognised-container .item img {
  width: 100%;
  opacity: 0.6;
}

#supporters .my-container .sup-div {
  height: 50%;
  width: 100%;
  padding: 0 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1020px) {
  #supporters .my-container .sup-div {
    padding: 0;
  }
}

#supporters .my-container .sup-div h2 {
  text-align: center;
  font-size: 2.62rem;
  line-height: 3.93rem;
  font-weight: 400;
  color: white;
  opacity: 0.85;
  margin-top: 32px;
}

#supporters .my-container .sup-div .supporters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#supporters .my-container .sup-div .supporters-container .item {
  width: 6.37rem;
}

@media screen and (max-width: 1020px) {
  #supporters .my-container .sup-div .supporters-container .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px;
    padding: 2em 0;
  }
}

#supporters .my-container .sup-div .supporters-container .item img {
  width: 100%;
  opacity: 0.6;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: white;
  color: #1b1b1f;
}

.footer .footer-container {
  width: 80vw;
  margin: 0 auto;
  min-height: 250px;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container {
    width: 90vw;
  }
}

.footer .footer-container .flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
    padding-bottom: 0;
  }
}

.footer .footer-container .flex-1 .flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-1 .flex-2 {
    height: 30%;
  }
}

.footer .footer-container .flex-1 .flex-2 .quote {
  font-family: Poppins,sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
  text-align: center;
  background-image: url("../img/backgrounds/cite.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer .footer-container .flex-1 .flex-3 {
  width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2em 0;
}

.footer .footer-container .flex-1 .flex-3 p {
  text-align: left;
  padding: 5px;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-1 .flex-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer .footer-container .flex-1 .flex-3 p {
    text-align: center;
  }
}

.footer .footer-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 12px 0;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40%;
  }
}

.footer .footer-container .flex-container .links {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.81rem;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .flex-container .links div {
    padding: 5px 0;
  }
}

.footer .footer-container .flex-container .links .text {
  font-family: Poppins,sans-serif;
  font-size: 1.3vh;
  line-height: 2vh;
  text-align: center;
  white-space: nowrap;
}

.footer .footer-container .flex-container .links .linking:hover {
  color: #00c853;
}

.footer .footer-container .flex-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 27%;
  height: 100%;
  margin-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .footer .footer-container .flex-container .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    height: 40%;
    padding: 5px 0;
  }
}

@media screen and (max-width: 799px) {
  .footer .footer-container .flex-container .icons {
    width: 80%;
  }
}

.footer .footer-container .flex-container .icons .design {
  opacity: 100%;
  height: 24px;
}

.footer .footer-container .flex-container .icons .design:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(56%) sepia(68%) saturate(2180%) hue-rotate(103deg) brightness(95%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(56%) sepia(68%) saturate(2180%) hue-rotate(103deg) brightness(95%) contrast(101%);
}
/*# sourceMappingURL=style.css.map */